.cart-overlay{
    box-sizing: border-box;
    width: 5em;
    height: 5em;
    font-size: 1rem;
    border-radius: 100%;
    background-color: var(--background-color);
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    cursor: pointer;
    border: solid .25em var(--theme-color);
    display: grid;
    place-items: center;
}
.cart-overlay > .cart-count{
    box-sizing: border-box;
    position: absolute;
    top: -25%;
    right: -25%;
    color: var(--theme-color);
    margin: 0;
    padding: 0;
    background-color: var(--text-color);
    font-size: 1em;
    border-radius: 5rem;
    width: 3ch;
    height: 3ch;
    text-align: center;
    line-height: 3ch;
    font-weight: bold;
}
.cart-overlay > svg{
    box-sizing: border-box;
    width: 70%;
    height: 70%;
    fill: var(--text-color);
}