.comic-row-wrapper{
    width: 100%;
    padding: 3rem 0;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: repeat(2, min-content());
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.comic-row-title{
    width: 100%;
    grid-area: 1 / 1 / 2 / 4;
}
.comic-row-title > p{
    width: 100%;
    text-align: center;
    padding: 0 0 3rem 0;
    font-size: 3rem;
}
/* scroll arrows */
.comic-row-scroll-arrow-left{
    grid-area: 2 / 1 / 3 / 2;
}
.comic-row-scroll-arrow-right{
    grid-area: 2 / 3 / 3 / 4;
}
/* comic list wrapper */
.comic-row{
    grid-area: 2 / 2 / 3 / 3;
    width: 100%;
    height: fit-content;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    overflow: auto; /* temp */
}
.comic-row-scroll{
    width: max-content;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 1rem;
}
.comic-card{
    height: fit-content;
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.5);
    background-color: var(--background-color);
    padding: 2rem;
    font-size: 1rem;
    border-radius: 2rem;
}
.comic-card:not(:last-child){margin-right: 4rem;}
.comic-card-title{
    width: 100%;
    font-size: 1.5em;
    color: var(--text-color);
    padding: 1rem 0 .75rem 0;
    text-align: center;
}
.comic-card-image-wrapper{
    width: 100%;
    aspect-ratio: 663/1024;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
/* price */
.comic-card-price{
    width: 100%;
    height: fit-content;
    text-align: center;
    font-size: 1.25em;
}
/* cart */
.comic-card-image-cart-overlay{
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}
.comic-card-image-cart-overlay > svg{
    width: 35%;
    height: fit-content;
    cursor: pointer;
    fill: transparent;
}
.comic-card-image-cart-overlay:hover{
    background-color: rgba(0, 0, 0, 0.5);
}
.comic-card-image-cart-overlay:hover > svg{
    fill: #fff;
}